body {
    background-color: beige;
}

header {
    margin-top: -16px;
}

#top_banner p {
    background-color: black;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    font-family: 'Lora', serif;
    color: white;
    padding-top: 10px;
}

#content {
    background-image: url(../img/background.jpg);
    width: 80%;
    min-width: 320px;
    max-width: 1000px;
    min-height: 800px;
    margin: auto;
    margin-top: -16px;
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px 0px;
}

#logo {
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    width: 30%;
    max-width: 280px;
    height: 135px;
    box-shadow: 3px 3px 3px 0px;
    float: left;
}

#fonts {
    width: 65%;
    padding: 10px;
    float: right;
}

#headlines h1 {
    font-family: 'Handlee', cursive;
    font-size: 32pt;
    color: #252525;
    margin-bottom: -10px;
}

.h1stylelabel {
    font-family: 'Handlee', cursive;
    font-size: 14pt;
    color: #252525;
}

#headlines h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 24pt;
    color: #4E1616;
    margin-bottom: -10px;
    margin-top: -10px;
}

.h2stylelabel {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 14pt;
    color: #4E1616;
}

#copylinks p, #colors p {
    font-family: 'Lora', serif;
    font-size: 14pt;
    color: #5F3309;
    line-height: 18pt;
}

.linkstyle {
    font-weight: 700;
    text-decoration: underline;
    color: #011053;
}

#colors {
    width: 35%;
    min-width: 300px;
    margin-top: 10px;
    padding-top: 10px;
    clear: left;
}

#colors h2, #textures h2, #adjectives h2, #buttons h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16pt;
    color: #5F3309;
}

#colors p {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 10pt;
    text-align: center;
    color: #FFFFFF;
}

#color1 {
    background-color: #7D4900;
    width: 75px;
    height: 75px;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 0px;
    margin: 8px;
    float: left;
}

#color2 {
    background-color: #5F3309;
    width: 75px;
    height: 75px;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 0px;
    margin: 8px;
    float: left;
}

#color3 {
    background-color: #011053;
    width: 75px;
    height: 75px;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 0px;
    margin: 8px;
    float: left;
}

#color4 {
    background-color: #4E1616;
    width: 75px;
    height: 75px;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 0px;
    margin: 8px;
    float: left;
}

#color5 {
    background-color: #252525;
    width: 75px;
    height: 75px;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 0px;
    margin: 8px;
    float: left;
}

#textures {
    width: 35%;
    margin-top: -10px;
    padding-top: 10px;
    clear: both;
    float: left;
}

#texture1 {
    background-image: url(../img/texture1.jpg);
    width: 75px;
    height: 75px;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 0px;
    margin: 8px;
    float: left;
}

#texture2 {
    background-image: url(../img/texture2.jpg);
    width: 75px;
    height: 75px;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 0px;
    margin: 8px;
    float: left;
}

#texture3 {
    background-image: url(../img/texture3.jpg);
    width: 75px;
    height: 75px;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 0px;
    margin: 8px;
    float: left;
}

#adjectives {
    width: 65%;
    clear: right;
    float: left;
}

#adjectives ul {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14pt;
    list-style: none;
}

#adjectives ul li {
    display: inline;
    margin-right: 20px;
}

#buttons {
    width: 60%;
    padding-top: 10px;
    clear: both;
    float: left;
}

#buttons p {
    margin-bottom: 50px;
}

.button {
    background-color: #7D4900;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 14pt;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover.button {
    background-color: #5F3309;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 14pt;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.buttonhover {
    background-color: #5F3309;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 14pt;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    text-decoration: none;
}

footer {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #252525;
    clear: both;
}

@media (max-width: 760px) {
    #logo {
        width: 100%;
    }

    #content, #fonts, #buttons {
        width: 100%;
    }

    #colors, #textures {
        width: 100%;
        float: none;
    }

    #adjectives {
        clear: both;
        float: left;
    }
}
